@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #3a82f6;
  --primary-foreground: #fafafa;
  --secondary: #d6e4f0;
  --secondary-foreground: #1c2e1c;
  --muted: #d6e4f0;
  --muted-foreground: #a1a1a1;
  --accent: #d6e4f0;
  --accent-foreground: #1c2e1c;
  --destructive: #d93333;
  --destructive-foreground: #fafafa;
  --border: #d1d9e6;
  --input: #d1d9e6;
  --ring: #3a82f6;
  --radius: 0.5rem;
}

.dark {
  --background: #1c2e1c;
  --foreground: #d6f0f6;
  --card: #1c2e1c;
  --card-foreground: #d6f0f6;
  --popover: #1c2e1c;
  --popover-foreground: #d6f0f6;
  --primary: #d6f0f6;
  --primary-foreground: #1c2e1c;
  --secondary: #004b80;
  --secondary-foreground: #d6f0f6;
  --muted: #004b80;
  --muted-foreground: #a1a1a1;
  --accent: #004b80;
  --accent-foreground: #d6f0f6;
  --destructive: #7f1d1d;
  --destructive-foreground: #d6f0f6;
  --border: #004b80;
  --input: #004b80;
  --ring: #7fb3ff;
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.theme-wrapper {
  transition: all 0.3s ease;
}

/* Override theme colors when specific themes are applied */
.theme-sam {
  --primary: #0052CC;
  --secondary: #172B4D;
  --background: #fafafa;
  --foreground: #3a4a6b;
  --accent: #5b6485 ;
  --muted: #dedede;
}

/* SAM theme button hover styles */
/* .theme-sam button:hover {
  background-color: #5b6485 !important;
  color: white !important;
}

.theme-sam button:hover svg {
  color: white !important;
} */

.theme-dark {
  --primary: #6f89a7;
  --secondary: #004b80;
  --background: #1a2a3a;
  --foreground: #ffffff;
  --accent: #c0c0c0;
  --muted: #EBECF0;
}

.theme-accent {
  --primary: #b3c7d6;
  --secondary: #c0d0e0;
  --background: #d6e4f0;
  --foreground: #3a4a6b;
  --accent: #c0c0c0;
  --muted: #e0e8f0;
}